In [9]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [10]:
df = pd.read_csv('P1W1D1PM.csv')

In [11]:
df.head()

,Name,Age,Height,Weight,ValueEUR,AttackingWorkRate,DefensiveWorkRate,PaceTotal,ShootingTotal,PassingTotal,DribblingTotal,DefendingTotal,PhysicalityTotal,Overall
0,L. Messi,34,170,72,78000000,Medium,Low,85,92,91,95,34,65,93
1,R. Lewandowski,32,185,81,119500000,High,Medium,78,92,79,85,44,82,92
2,Cristiano Ronaldo,36,187,83,45000000,High,Low,87,94,80,87,34,75,91
3,K. Mbappé,22,182,73,194000000,High,Low,97,88,80,92,36,77,91
4,J. Oblak,28,188,87,112000000,Medium,Medium,87,92,78,90,52,90,91

In [12]:
df.tail()

,Name,Age,Height,Weight,ValueEUR,AttackingWorkRate,DefensiveWorkRate,PaceTotal,ShootingTotal,PassingTotal,DribblingTotal,DefendingTotal,PhysicalityTotal,Overall
19255,S. Black,19,180,75,100000,Medium,Medium,56,27,29,33,48,53,48
19256,Ma Zhen,23,196,85,50000,Medium,Medium,49,47,45,46,54,44,48
19257,Yang Haoyu,20,183,77,90000,Medium,Medium,57,26,29,28,51,56,48
19258,He Siwei,20,174,69,100000,Medium,Medium,61,25,32,32,49,51,48
19259,Chen Guoliang,22,186,70,70000,Medium,Medium,55,27,29,30,50,54,48

In [13]:
y=df.Overall
y

0        93
1        92
2        91
3        91
4        91
         ..
19255    48
19256    48
19257    48
19258    48
19259    48
Name: Overall, Length: 19260, dtype: int64

In [14]:
x=df
x=df.drop(['Name','Overall'],axis=1)
x

,Age,Height,Weight,ValueEUR,AttackingWorkRate,DefensiveWorkRate,PaceTotal,ShootingTotal,PassingTotal,DribblingTotal,DefendingTotal,PhysicalityTotal
0,34,170,72,78000000,Medium,Low,85,92,91,95,34,65
1,32,185,81,119500000,High,Medium,78,92,79,85,44,82
2,36,187,83,45000000,High,Low,87,94,80,87,34,75
3,22,182,73,194000000,High,Low,97,88,80,92,36,77
4,28,188,87,112000000,Medium,Medium,87,92,78,90,52,90
...,...,...,...,...,...,...,...,...,...,...,...,...
19255,19,180,75,100000,Medium,Medium,56,27,29,33,48,53
19256,23,196,85,50000,Medium,Medium,49,47,45,46,54,44
19257,20,183,77,90000,Medium,Medium,57,26,29,28,51,56
19258,20,174,69,100000,Medium,Medium,61,25,32,32,49,51
19259,22,186,70,70000,Medium,Medium,55,27,29,30,50,54

In [15]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=21) #random state biar ngga brubah"

In [16]:
x_train.shape

(15408, 12)

In [17]:
x_test.shape

(3852, 12)

In [18]:
import numpy as np
from sklearn.preprocessing import OrdinalEncoder

In [19]:
x_cat = x.select_dtypes(include=['object']).columns.tolist()
x_num = x.select_dtypes(include=np.number).columns.tolist()

In [20]:
x_cat

['AttackingWorkRate', 'DefensiveWorkRate']

In [21]:
x_num

['Age',
 'Height',
 'Weight',
 'ValueEUR',
 'PaceTotal',
 'ShootingTotal',
 'PassingTotal',
 'DribblingTotal',
 'DefendingTotal',
 'PhysicalityTotal']

In [22]:
x.AttackingWorkRate.unique()

array(['Medium', 'High', 'Low'], dtype=object)

In [23]:
x.DefensiveWorkRate.unique()

array(['Low', 'Medium', 'High'], dtype=object)

In [24]:
enc = OrdinalEncoder(categories=[['Low', 'Medium', 'High'], ['Low', 'Medium', 'High']])
enc.fit(x_train[x_cat])

x_train_cat = enc.transform(x_train[x_cat])
x_test_cat = enc.transform(x_test[x_cat])

In [25]:
x_train_cat

array([[1., 1.],
       [1., 1.],
       [2., 0.],
       ...,
       [1., 1.],
       [2., 0.],
       [2., 1.]])

In [26]:
x_train_final=pd.DataFrame(np.concatenate([x_train[x_num],x_train_cat],axis=1),columns=[x_num+x_cat])
x_test_final=pd.DataFrame(np.concatenate([x_test[x_num],x_test_cat],axis=1),columns=[x_num+x_cat])

In [27]:
pd.DataFrame(x_train_final)

,Age,Height,Weight,ValueEUR,PaceTotal,ShootingTotal,PassingTotal,DribblingTotal,DefendingTotal,PhysicalityTotal,AttackingWorkRate,DefensiveWorkRate
0,32.0,180.0,76.0,1100000.0,65.0,72.0,63.0,66.0,26.0,70.0,1.0,1.0
1,25.0,180.0,70.0,1900000.0,75.0,50.0,58.0,66.0,64.0,66.0,1.0,1.0
2,35.0,181.0,77.0,775000.0,59.0,70.0,74.0,72.0,38.0,66.0,2.0,0.0
3,31.0,180.0,76.0,1200000.0,65.0,70.0,44.0,67.0,25.0,60.0,2.0,0.0
4,25.0,191.0,79.0,725000.0,71.0,31.0,45.0,49.0,64.0,70.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
15403,28.0,184.0,70.0,200000.0,66.0,28.0,47.0,49.0,54.0,58.0,1.0,2.0
15404,23.0,171.0,66.0,1200000.0,75.0,30.0,54.0,62.0,63.0,60.0,1.0,1.0
15405,29.0,190.0,83.0,1300000.0,61.0,24.0,55.0,49.0,70.0,71.0,1.0,1.0
15406,23.0,172.0,68.0,3200000.0,70.0,70.0,65.0,75.0,32.0,63.0,2.0,0.0
15407,18.0,165.0,60.0,625000.0,79.0,58.0,51.0,62.0,25.0,48.0,2.0,1.0

In [44]:
y_train

5747     69
6289     69
4239     71
6297     69
12123    64
         ..
16432    59
8964     66
5944     69
5327     70
15305    60
Name: Overall, Length: 15408, dtype: int64

In [28]:
model = LinearRegression()

In [29]:
model.fit(x_train_final, y_train)

LinearRegression()

In [30]:
y_pred_train = model.predict(x_train_final)
y_pred_test = model.predict(x_test_final)

In [35]:
y_pred_test

array([74.52482736, 62.36701281, 63.13651375, ..., 64.78721696,
       60.79207319, 56.30068799])

In [43]:
# result = pd.DataFrame(y_train)

result = y_train.copy()
result['pred'] = y_pred_test
result['diff'] = abs(result['pred'] - result['Overall'])
result

KeyError: 'Overall'

In [34]:
result['diff'].mean()

KeyError: 'diff'

In [45]:
result['Overall'].mean()

KeyError: 'Overall'

In [47]:
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error

In [48]:
mean_absolute_error(y_train, y_pred_train)

2.3422320139481876

In [49]:
#perhiatikan kesalahan sekecil apapun
mean_squared_error(y_train, y_pred_train)

8.777663940501915

In [50]:
np.sqrt(mean_squared_error(y_train, y_pred_train))

2.962712260834979

In [51]:
r2_score(y_train, y_pred_train)

0.8117474655436555

In [52]:
result = y_test.copy()
result['pred'] = y_pred_test
result['diff'] = abs(result.pred - result.Overall)
result

AttributeError: 'Series' object has no attribute 'Overall'

In [53]:
print('mae:',mean_absolute_error(y_test, y_pred_test))

print('mse:',mean_squared_error(y_test, y_pred_test))
print('rmse',np.sqrt(mean_squared_error(y_test, y_pred_test)))

print('r2_score',r2_score(y_test, y_pred_test))

mae: 2.387702784545736
mse: 9.15992232069345
rmse 3.026536357074445
r2_score 0.8002258953746831