# LATIHAN - P0W1D3AM : Conditional & Looping

**NOMOR 1**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **lebih kecil** dari variabel `b` berdasarkan nilai dibawah ini :
* `a` = 100
* `b` = 200

Jika `True` maka tulis/cetak `a lebih kecil dari b`

In [8]:
a = 100
b = 200
if (a<b):
  print(str(a) + ' lebih kecil dari '+ str(b))

100 lebih kecil dari 200

**NOMOR 2**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **lebih besar** dari variabel `b` berdasarkan nilai dibawah ini :
* `a` = 100
* `b` = 200

Jika `True` maka tulis/cetak `a lebih besar dari b`

In [9]:
a = 300
b = 200
if (a>b):
  print(str(a) + ' lebih besar dari '+ str(b))

300 lebih besar dari 200

**NOMOR 3**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **tidak sama dengan**  variabel `b` berdasarkan nilai dibawah ini :
* `a` = `januari`
* `b` = `februari`

Jika `True` maka tulis/cetak `a tidak sama dengan b`

Jika `False` maka tulis/cetak `a sama dengan b`

In [11]:
a = "januari"
b = "februari"
if (a==b):
  print(a + ' sama dengan '+ b)
else:
  print(a + ' tidak sama dengan '+ b)

januari tidak sama dengan februari

**NOMOR 4**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **sama dengan**  variabel `b` berdasarkan nilai dibawah ini :
* `a` = 1000
* `b` = 1000.0

Jika `True` maka jangan menampilkan apapun

Jika `False` maka tulis/cetak `a tidak sama dengan b`

**NOMOR 5**

Buatlah sebuah kondisi untuk mengecek apakah variabel `a` **berbeda**  variabel `b` berdasarkan nilai dibawah ini :
* `angka_ganjil` = `[1, 3, 5, 7]`
* `angka_genap`  = `[2, 4, 6, 8]`

Jika `True` maka tulis/cetak `angka_ganjil berbeda dengan angka_genap`

Jika `False` maka tulis/cetak `angka_ganjil sama dengan angka_genap`

In [1]:
#native

angka_ganjil = [1, 3, 5, 7]
angka_genap  = [2, 4, 6, 8]

if angka_ganjil != angka_genap:
    print("angka ganjil tidak sama dengan angka genap")
else:
    print("angka ganjil sama dengan angka genap")

angka ganjil tidak sama dengan angka genap

In [6]:
#ternary
a = 100
b = 200

# ("angka ganjil tidak sama dengan angka genap") if angka_ganjil != angka_genap else ("angka ganjil sama dengan angka genap")

c=10000 if a<b else 20000
print(c)

10000

**NOMOR 6**

Buatlah sebuah kondisi untuk mengecek apakah variabel-variabel dibawah ini mempunyai nilai atau tidak

* `nama` = `budi`
* `usia` = 20
* `jenis_kelamin_pria` = True
* `alamat` = `None`
* `jumlah_motor` = 0
* `punya_rumah` = `False`

Jika True maka tulis/cetak `ada`

Jika False maka tulis/cetak `tidak ada`

In [21]:
nama = "asdsd"
usia = None
jenis_kelamin = "laki-laki"
alamat = "bandung"
jumlah_motor = 2
punya_rumah = True

# if nama.isnull() and usia.isnull() and jenis_kelamin.isnull() and alamat.isnull() and jumlah_motor.isnull() and punya_rumah.isnull():
#     print("data tidak lengkap")
    
if nama and usia and jenis_kelamin and alamat and jumlah_motor and punya_rumah:
    print("data lengkap")
elif not nama:
    print("nama tidak lengkap")
elif not usia:
    print("usia tidak lengkap")
elif not jenis_kelamin:
    print("jenis kelamin tidak lengkap")
elif not alamat:
    print("alamat tidak lengkap")
elif not jumlah_motor:
    print("jumlah motor tidak lengkap")
elif not punya_rumah:
    print("punya rumah tidak lengkap")

usia tidak lengkap

In [54]:
list1 = { 'nama': nama, 'usia':usia, 'jenis_kelamin': True, 'alamat':alamat,'jumlah_motor': jumlah_motor,  'punya_rumah': punya_rumah}

print(list1.keys())
print(list1.values())

for key in list1.keys():
    if list1(key):
        print(key, "ada")
    else:
        print(key, "tidak ada")

dict_keys(['nama', 'usia', 'jenis_kelamin', 'alamat', 'jumlah_motor', 'punya_rumah'])
dict_values(['anton ', None, True, 'bandung', 2, True])

TypeError: 'dict' object is not callable

**NOMOR 7**

Buatlah sebuah kondisi untuk mengecek apakah variabel-variabel dibawah ini termasuk salah satu nilai dari variabel lain atau tidak

* *`pendidikan` = `s1`* terhadap *`daftar_pendidikan` = ['s1', 's2', 's3']*
* *`nama` = `budi`* terhadap *`nama_lengkap` = `budi kurniawan`*

Jika True maka tulis/cetak `merupakan bagian`

Jika False maka tulis/cetak `bukan merupakan bagian`

In [23]:
pendidikan = 's11'
daftar_pendidikan = ['s1', 's2', 's3']

if pendidikan in daftar_pendidikan:
    print("pendidikan ada di dalam daftar pendidikan")
else:
    print("pendidikan tidak ada di dalam daftar pendidikan")

pendidikan tidak ada di dalam daftar pendidikan

In [28]:
nama = "anton "
nama_lengkap = "budi susanto"

if nama in nama_lengkap:
    print("nama merupakan bagian dari nama lengkap")
else:
    print("nama bukan merupakan bagian dari nama lengkap")

nama tidak ada di dalam nama lengkap

**NOMOR 8 (IF-ELIF-ELSE)**

Buatlah sebuah kondisi untuk mengecek hubungan dua variabel dibawah ini :

* `a` = 100
* `b` = 100

Jika `a < b` maka tulis/cetak `a lebih kecil dari b`

Jika `a > b` maka tulis/cetak `a lebih besar dari b`

Selain kondisi diatas, maka tulis/cetak `a sama dengan b`

In [32]:
a = 100
b = 100

if a<b:
    print("a lebih kecil dari b")
elif a>b:
    print("a lebih besar dari b")
else:
    print(str(a) + " sama dengan " + str(b))
    
#lebih efisien soalnya else tidak dijalankan jika salah satu if atau elif sudah terpenuhi

100 sama dengan 100

In [33]:
#cara 2: dengan 3 if
a = 100
b = 100

if a<b:
    print("a lebih kecil dari b")
if a>b:
    print("a lebih besar dari b")
if a==b:
    print(str(a) + " sama dengan " + str(b))

# kurang efisien karena semua if dijalankan

100 sama dengan 100

**NOMOR 9 (NESTED IF)**

Buatlah sebuah kondisi untuk memilih menu makanan dengan syarat :

* Pilih `nasi goreng` jika uang yang dimiliki lebih dari sama dengan Rp 15.000,-
* Pilih `ketoprak` jika uang yang dimiliki lebih dari sama dengan Rp 10.000 dan kurang dari Rp 15.000,-
* Pilih `batagor` jika uang yang dimiliki lebih dari sama dengan Rp 5.000 dan kurang Rp 10.000,-
* Pilih `es teh manis` jika uang yang dimiliki kurang dari Rp 5000

In [39]:
uang = 2000

if uang >= 15000:
    print("beli nasgor")
elif uang >= 10000:
    print("beli ketoprak")
elif uang >= 5000:
    print("beli batagor")
else:
    print("beli es teh manis") 
  
# slower   
# if uang >= 15000:
#     print("beli nasgor")
# elif 10000<=uang<15000:
#     print("beli ketoprak")
# elif 5000<=uang<10000:
#     print("beli batagor")
# else:
#     print("beli es teh manis")

beli es teh manis

**NOMOR 10**

Buatlah sebuah perulangan untuk mencetak/menulis kata `hello` sebanyak `5` kali.

In [42]:
# cara 1 : tanpa loop
# print("hello world")
# print("hello world")
# print("hello world")
# print("hello world")
# print("hello world")

#cara 2: loop
# for loop in range(5):
#     print("hello world")

#cara 3: while
loop = 0
while loop < 5:
    print(loop, "hello world")
    loop += 1

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

**NOMOR 11**

Buatlah sebuah perulangan untuk menampilkan angka dari `0` - `5`

*Hasil : 0 1 2 3 4 5*

In [55]:
a = 0
b = 5
while a != b+1:
    print (a, end=" ")
    a += 1

0 1 2 3 4 5

**NOMOR 12**

Buatlah sebuah perulangan untuk menampilkan angka dari `3` - `5`

*Hasil : 3 4 5*

In [69]:
a = 0
b = 5

# for a in range(a+3, b+1, 1): #index mulai, berhenti, lompatan
#     print(a, end=" ")
   
a = 5
b = 0
 
# for a in range(a, b , -1): #index mulai, berhenti, lompatan
#     print(a, end=" ")
    
a = 0
b = 5
 
for a in reversed(range(a+3, b+1, 1)): #index mulai, berhenti, lompatan
    print(a, end=" ")

5 4 3

**NOMOR 13**

Buatlah sebuah perulangan untuk menampilkan angka dari `1` - `10` dengan jarak angka adalah `3`

*Hasil : 1 4 7 10*

In [71]:
a = 1
for a in range(a, 11, 3): #index mulai, berhenti, lompatan
    print(a, end=" ")

1 4 7 10

**NOMOR 14**

Buatlah sebuah perulangan untuk menampilkan angka dari `1` - `10` dan berhenti dengan kondisi jika angka tersebut adalah `8`

*Hasil : 1 2 3 4 5 6 7 8*

In [4]:
a = 1

for a in range(a, 10, 1): #index mulai, berhenti, lompatan
    if a>8:
        break
    print(a, end=" ")

1 2 3 4 5 6 7 8

**NOMOR 15**

Buatlah sebuah perulangan untuk menampilkan angka genap dari `1` - `10` dan angka tersebut kurang dari sama dengan 6

*Hasil : 2 4 6*

In [7]:
a = 2

for a in range(2, 10, 2): #index mulai, berhenti, lompatan
    if a <= 6:
        print(a, end=" ")
    else: 
        break

2 4 6

**NOMOR 16**

Buatlah sebuah perulangan untuk menampilkan angka dari `1` - `5` dan angka tersebut bukan angka `3` dan masing-masing element dikalikan dengan angka `100`

Hasil :
```
Angka : 1
Hasil Perkalian : 100
Angka : 2
Hasil Perkalian : 200
Angka : 4
Hasil Perkalian : 400
Angka : 5
Hasil Perkalian : 500
```

In [9]:
angka = 1
hasil_kali = 0

for angka in range(1, 6, 1):
    hasil_kali = angka * 100
    if angka == 3:
        continue
    print("2 x", angka, "=", hasil_kali)

2 x 1 = 100
2 x 2 = 200
2 x 4 = 400
2 x 5 = 500

**NOMOR 17**

Buatlah sebuah perulangan untuk menampilkan isi dari variabel list dibawah ini :

* `daftar_nama` = `['anwar', 'budi', 'cecep', 'deny']`

In [16]:
daftar_nama = ["budi", "susi", "andi", "joko"]

# while daftar_nama:
#     print(daftar_nama.pop(), end=" ")

# for nama in daftar_nama:
#     print(nama, end=" ")

# for index, daftar_nama in enumerate(daftar_nama):
#     print(index, daftar_nama, end=" ")
    
list1 = { 'nama': 'gkh', 'usia' : '10', 'jenis_kelamin': True, 'alamat':"asdsd",'jumlah_motor': "1",  'punya_rumah': False}

for key, value in enumerate(list1):
    print(key, value, end=" ")

0 nama 1 usia 2 jenis_kelamin 3 alamat 4 jumlah_motor 5 punya_rumah