## Task

You are asked to create a customer and order table as follows 

`Customers` and `Orders`. 

Determine the right datatype to create the two tables. 

Here are the structures and data for both tables:

Once you have successfully created both tables, create a query to retrieve the total number of orders made by each customer along with the customer name from the `Customers` and `Orders` tables. 

Expected Output:

# Answer

### DDL:
```

CREATE TABLE Customers (
    customer_id SERIAL PRIMARY KEY,
    customer_name VARCHAR(50),
    city VARCHAR(50)
);

-- ALTER TABLE Customers 
-- 	ALTER COLUMN city TYPE VARCHAR(50);

-- Insert data into the table
INSERT INTO Customers 
	(customer_id, customer_name, city)
VALUES
    (1, 'John Doe', 'NYC'),
    (2, 'Jane Smith', 'LA'),
    (3, 'David Johnson', 'Chg');

-- Create the campus table
CREATE TABLE Orders (
    order_id SERIAL PRIMARY KEY,
	customer_id INTEGER,
	FOREIGN KEY (customer_id) REFERENCES Customers(customer_id),
    order_date DATE DEFAULT CURRENT_DATE,
    total_amount FLOAT
);

-- Insert data into the campus table
INSERT INTO Orders (order_id, customer_id, order_date, total_amount)
VALUES
    (1, 1, '2022-01-10', 100.00),
    (2, 1, '2022-02-15', 150.00),
    (3, 2, '2022-03-20', 200.00),
    (4, 3, '2022-04-25', 50.00);
	
```


### DQL
```
SELECT customer_name, count(customer_name) as total_order
FROM Orders JOIN Customers ON Orders.customer_id = Customers.customer_id
GROUP BY customer_name
```

### RESULT
![result](./NGC/ngc5_result.png)