# **Kisi-kisi LC2**

Dataset yang digunakan pada latihan ini berasal dari bigquery public data. Lakukan koneksi Google Colaboratory dengan BigQuery menggunakan syntax berikut:

```
from google.colab import auth
from google.cloud import bigquery
auth.authenticate_user()
print('Authenticated')

project_id = "hckv8-95102" #GUNAKAN GCP PROJECT-ID KALIAN MASING-MASING
client = bigquery.Client(project=project_id)
```

lalu lakukan query pada notebook menggunakan cara berikut:

```
df_1 = client.query('''
SELECT *
FROM table_name`
''').to_dataframe()

df_1
```

---

Dataset yang digunakan merupakan `record perjalanan peminjam sepeda`, dapat diakses pada:

- **Project_id_Database**: hacktiv8-ftds-challenge
- **Dataset**            : practice
- **Table**              : bike_rent

Lakukan pengolahan SQL langsung melalui Google Colaboratory yang telah dikoneksikan pada BigQuery

---
Pada notebook ini terdapat 2 section, **SQL** dan **Pandas**.

Kerjakan masing-masing section sesuai dengan ketentuan di bawah:

## A. **SQL**

  >**Jawab masing-masing soal dalam 1 query.**

  1. Berapa banyak label unique dari `bike_type`?  
  2. Apa saja nama label unique dari tipe sepeda?
  3. Berapa banyak total peminjaman sepeda pada tahun 2016 dan 2017?
  4. Dimana station yang paling banyak dikunjungi sebagai titik keberangkatan pada tahun 2016?
  5. Berapa nilai minimum, maximum, dan rata-rata dari durasi perjalanan pada keseluruhan data?
  6. Berapa rata-rata durasi perjalanan dari subscriber_type `Explorer` dan `Weekender`?
  7. Tampilkan entry data yang memiliki `duration_time` diatas 4.25 jam. (*Gunakan subquery untuk menjawab pertanyaan ini dengan meng-convert duration_time dari menit ke hour*).

## B. **Pandas**
  >**Data yang akan diolah menggunakan Pandas wajib diambil menggunakan Query berikut:**
  ```
  SELECT *
  FROM `hacktiv8-ftds-challenge.practice.bike_rent`
  ```
  
  >Simpan data yang telah diambil ke dalam variabel `df` (penamaan variabel dibebaskan), **lakukan pengolah di bawah ini menggunakan library Pandas**:

  1. Cek kesesuaian tipe data dan keberadaan missing values dengan `.info()`

  2. Buat kolom baru bernama `quarter`.
  
  Lakukan ekstraksi waktu (quarter dalam tahun) berdasarkan kolom `start_time` dengan ketentuan berikut:

<div align="center">

  |Keterangan Waktu|Bulan|
  |--|--|
  |Q1|Januari, Februari, Maret|
  |Q2|April, Mei, Juni|
  |Q3|Juli, Agustus, September|
  |Q4|Oktober, November, Desember|

</div>

  3. Tampilkan data perjalanan dari tipe member `Local365` dengan durasi perjalanan diatas 1 jam *`(Jika tidak ada entry yang memenuhi kondisi ini tidak apa, tuliskan kode pandasnya dengan lengkap saja)`*.

  4. Berapa rata-rata durasi perjalanan dari tipe pelanggan `Walk Up` dengan tipe sepeda `classic` pada bulan `Maret` berdasarkan data yang diambil? *`(Jika tidak ada entry yang memenuhi kondisi ini tidak apa, tuliskan kode pandasnya dengan lengkap saja)`*.

>**Notes:**
>- Dalam menjawab soal Pandas no. 2, **tidak boleh** menggunakan ekstraksi waktu `Series.dt.quarter`
- Lakukan `looping` dan `conditional` dengan memanfaatkan ekstraksi bulan `Series.dt.month` terhadap kolom `start_time`, pastikan tipe datanya ialah `datetime` agar dapat dilakukan ekstraksi.
- Simpan hasil looping ke dalam suatu variabel, dan buat kolom baru berisikan variabel sebelumnya.

###**SQL**

#####1. Berapa banyak label unique dari bike_type?

In [ ]:
# working area

#####2. Apa saja nama label unique dari tipe sepeda?

In [ ]:
# working area

#####3. Berapa banyak total peminjaman sepeda pada tahun 2016 dan 2017?

In [ ]:
# working area

#####4. Dimana station yang paling banyak dikunjungi sebagai titik keberangkatan pada tahun 2016?

In [ ]:
# working area

#####5. Berapa nilai minimum, maximum, dan rata-rata dari durasi perjalanan pada keseluruhan data?

In [ ]:
# working area

#####6. Berapa rata-rata durasi perjalanan dari subscriber_type `Student Membership` dan `Local31`?

In [ ]:
# working area

#####7. Tampilkan entry data yang memiliki `duration_time` diatas 4.25 jam. (*Gunakan subquery untuk menjawab pertanyaan ini dengan meng-convert duration_time dari menit ke hour*).

In [ ]:
# working area

###**Pandas**

#####Data Loading

In [ ]:
# working area

#####1. Cek kesesuaian tipe data dan keberadaan missing values dengan `.info()`

In [ ]:
# working area

#####2. Buat kolom baru bernama `quarter`.
  
  Lakukan ekstraksi waktu (quarter dalam tahun) berdasarkan kolom `start_time` dengan ketentuan berikut:

<div align="center">

  |Keterangan Waktu|Bulan|
  |--|--|
  |Q1|Januari, Februari, Maret|
  |Q2|April, Mei, Juni|
  |Q3|Juli, Agustus, September|
  |Q4|Oktober, November, Desember|

</div>

>**Notes:**
>- Dalam menjawab soal Pandas no. 2, **tidak boleh** menggunakan ekstraksi waktu `Series.dt.quarter`.
- Lakukan `looping` dan `conditional` dengan memanfaatkan ekstraksi bulan `Series.dt.month` terhadap kolom `start_time`, pastikan tipe datanya ialah `datetime` agar dapat dilakukan ekstraksi.
- Simpan hasil looping ke dalam suatu variabel, dan buat kolom baru berisikan variabel sebelumnya.

In [ ]:
# working area

#####3. Tampilkan data perjalanan dari tipe member `Local31` dengan durasi perjalanan diatas 1 jam.
*(Jika tidak ada entry yang memenuhi kondisi ini tidak apa, tuliskan kode pandasnya dengan lengkap saja)*

In [ ]:
# working area

#####4. Berapa rata-rata durasi perjalanan dari tipe pelanggan `Walk Up` dengan tipe sepeda `classic` pada bulan `Maret` dari data yang diambil?
*(Jika tidak ada entry yang memenuhi kondisi ini tidak apa, tuliskan kode pandasnya dengan lengkap saja)*

In [ ]:
# working area